page-about {
        p.nazwa_konia{
          //text-align:center;
          font-family: 'Dancing Script', cursive;
          color:#CEBC98;
          font-size: 25px;
          margin-top:0px;
        }
        .dodanie_podajnika{
          background-color: #CEBC98;;
          border-radius: 40px;
          float:center;
          text-align:center;
          width:40px;
          height:40px;
          //color:#CEBC98;
        }
        .card-content-md{
          background: rgba(53, 90, 67, 1);
        }
        .card-md{
          background: #023114;
        }

      }
